.box {
    width: 40px;
    height: 40px;
    background-image: url("../image/logo1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.card .img{
    height: 350px;
}

.about-section {
    padding: 30px;
    text-align: center;
    /* background-color: #474e5d; */
    color: black;
}

.container {
    padding: 0 16px;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #5F9DF7;
    text-align: center;
    cursor: pointer;
    width: 100%;
    border-radius: 20px;
}

.button:hover {
    background-color: #555;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}
