body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url('../image/bg-img2.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box-con{
    margin-top: 50px;
    text-align: center;
}
.box-con1{
    margin-top: 50px;
}
.box {
    width: 40px;
    height: 40px;
    background-image: url("../image/logo2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container .box-con {
    color: white;
}